@media(min-width:576px){
    .title_big{
        font-size: 48px;
    }
    .discription-top-section{
        font-size: 32px;
    }
    .mobile-logo{
        width: 250px;
    }
    .discription-reviews {
        font-size: 18px;
    }
    .big-text-reviews {
        font-size: 20px;
    }
    .img-top-section-girl-mobile{
        width: 350px;
    }
    .price__container h4{
        font-size: 18px;
    }
}

@media(min-width:768px){
    .maps{
        border: 8px solid #fff;
    }
    .img-top-section-girl-mobile {
        width: 450px;
    }
    .top-section{
        width: 100%;
    }
}

@media(min-width:992px){
    .img-top-section-girl-mobile {
        width: 455px;
        bottom: 325px;
    }
    .btn-orange{
        width: auto;
        line-height: 15px;
        padding: 15px 20px;
    }
}

@media(min-width:1200px){
    body{
        font-size: 18px;
    }
    .item-about:not(:last-child){
        margin-right: 65px;
        margin-bottom: 0;
    }
    .item-about:not(:last-child)::after{
        content: '';
        height: 150%;
        width: 1px;
        right: -30px;
        top: 50%;
    }
    .about-footer {
        width: 95%;
        padding: 45px 50px;
    }
    .gallery-reviews{
        position: absolute;
        width: 350px;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        z-index: 3;
    }
    .img-reviews{
        position: absolute;
        bottom: -48px;
        left: 0;
        width: 320px;
    }
    .dots-certificates{
        display: block !important;
    }
    .top-section{
        width: auto;
    }
    .navbar-nav{
        font-size: 13px;
    }
    .about-cent{
        width: 75%;
    }
    .price__container .card p{
        line-height: normal;
    }
    .item-about{
        font-size: 13px;
    }
    .desctop-logo {
        width: 290px;
    }
    .big-text-reviews {
        font-size: 26px;
    }
    .discription-reviews {
        font-size: 20px;
    }
    .mobile-nav{
        background-color: transparent;
        box-shadow: none;
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media(min-width:1400px){
    .card-staff {
        width: 200px;
    }
    .navbar-nav{
        font-size: 16px;
    }
    .item-about{
        font-size: 16px;
    }
    .phone-box{
        margin-left: 45px;
    }
    .gallery-reviews{
        width: 400px;
    }
    .prev-reviews {
        left: -20px;
    }
}

@media(min-width:1600px){
    .gallery-reviews{
        left: 55px;
    }
    .card-staff {
        width: 230px;
    }
}

@media(min-width:1700px){
    .gallery-reviews{
        left: 125px;
    }
    .card-staff {
        width: 250px;
    }
}